p{color: blue;
background-color: green;
border-style: solid;
border-color: yellow;
border-width: 20px;
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
width: 600px;
}
body{
background-color: red;


}
img{
width: 600px;


}